*, *::before, *::after {
    box-sizing: border-box;
    background-color: bisque;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

title {
    text-align: center;
}

#div1 {
    background-color: aqua;
    border-radius: 20px 20px 20px 20px;
}
#div1 p {
    font-weight: bolder;
}

/* 
#startBtn:hover {
    background-color: crimson;
    color: black;
    font-weight: bolder;
    border-radius: 40px;
} */

#qBtn:hover {
         background-color: crimson;
         color: black;
         font-weight: bolder;
         border-radius: 40px;
}

.initials {
background-color: rgb(163, 163, 221);
color: black;
font-size: large;
font-weight: bold;
}


.hide {
    display: none;
}


#timer {
    position: absolute;
    top: 100px;
    right: 100px;
}